.section-about{
    background-color: $color-grey-light-1;
    padding: 25rem 0;
    margin-top: -24rem;

    @include responsive(tab-port){
        padding: 25rem 0;
    }
}

.section-features{
    background-image: linear-gradient(
        to right bottom,rgba($color-primary-light, 0.7), rgba($color-primary-dark, 0.7)),  
        url('../../img/pic4.jpg'); 
    background-size: cover;
    background-position: center;
    padding: 20rem 0;
    transform: skewY(7deg);
    margin-top: -11.1rem;

    & > * {
        transform: skewY(-7deg);
    }

    @include responsive(tab-port){
        padding: 15rem 3rem;
    }

}

.section-agenda{
    padding: 15rem 0;
    @include responsive(tab-port){
        padding: 10rem 1.5rem;
    }
}

.agenda{
    background-image: 
        linear-gradient(
            105deg,
            $color-white 46%, 
            rgba($color-primary-dark, 0.3) 70%
        );

    background-size: cover;
    border-radius: 1rem;
    box-shadow: 0 1rem 3.5rem rgba($color-black, 0.3);

    @include responsive(tab-land){
        background: none;
    }


    &__form{
        width: 50%;
        padding: 6rem;

        @include responsive(tab-land){
            width: 100%;
        }
    }

}