.btn{

    font: inherit;

    @include responsive(phone){
        display: inline-block!important;
    }
    
    &,
    &:link, &:visited{
        border-radius: 3rem;
        text-transform: uppercase;
        text-decoration: none;
        text-shadow: none;
        font-weight: 400;
        padding: 1.5rem 1.8rem;
        transition: all 330ms;
        position: relative;
        margin-top: 7rem;

        //Change for the <button> element
        border: none;
    }

    &:hover{
        transform: translateY(-5px);
        box-shadow: 0 .9rem 1.4rem rgba($color-black, 0.28);
    }

    &:active, &:focus{
        outline: none;
        transform: translateY(1px);
        box-shadow: 0 0.5rem 0.8rem rgba($color-black, 0.1);
    }

    &-white{
        background-color: #FFF;
        color: $color-grey-dark;
    }

    &-blue{
        margin-top: 2rem;
        background-color: rgba($color-primary-dark, 0.8);
        color: #FFF;
        box-shadow: 0 0.5rem 0.8rem rgba($color-black, 0.1);
    }
    
    &-animated{
        animation: fadeInAndMoveFromBotton 1s ease-in-out 1.3s;
        animation-fill-mode: backwards;
    }
}

.btn-text{
    @include responsive(tab-port){
        display: none!important;
    }
    &:link, &:visited{
        color: $color-primary-dark;
        display: inline-block;
        font-weight: 400;
        font-size: 1.8rem;
        text-decoration: none;
        border-bottom: .1rem solid $color-primary-dark;
        padding: .5rem;
        transition: all .4s ease-in-out;
    }

    &:hover{
        background-color: $color-primary-dark;
        color: $color-white;
        box-shadow: 0 1rem 2rem rgba($color-black, .15);
        transform: translateY(.2rem);
    }

    &:active{
        box-shadow: 0 .5rem 1rem rgba($color-black, .15);
        transform: translateY(0);
    }
}