.form{
    &__group:not(:last-child){ margin-bottom: 1rem;}

    

    &__input{
        background-color: $color-grey-light-1;
        border: none;
        border-bottom: 3px solid transparent;
        border-radius: .2rem;
        color: inherit;
        display: block;
        font-size: 1.5rem;
        font-family: inherit;
        padding: 1.5rem 2rem;
        width: 90%;
        transition: all 330ms ease-in-out;


        &:focus{
            outline: none;
            box-shadow: 0 1rem 2rem rgba($color-black,.1);
            border-bottom: 3px solid $color-primary-dark;

            &:invalid{
                border-bottom: 3px solid orangered;
            }
        }

        &::-webkit-input-placeholder{
            color: $color-grey-dark-2;
        }
    
    }

    &__label{
        font-size: 1.2rem;
        font-weight: 700;
        margin-left: 2rem;
        margin-top: .7rem;
        display: block;
        transition: all 440ms ease-in-out;
    }

    //~ selects any sibiling
    // + selects the sibiling right after the input
    &__input:placeholder-shown + &__label{
        opacity: 0;
        visibility: hidden;
        transform: translateY(-4rem);
    }

}