.body {
    display: flex;
    justify-content: center;
  }
  
  #header {
    width: 100%;
    padding: 8px;
    color: #455A64;
    font-size: 2rem;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  
  #header button {
    background-color: #455A64;
    color: white;
    border-radius: 1rem;
    width: 65px;
    border: none;
    margin: 1rem;
  }
  #container {
    width: 100%;
  }
  
  #weekdays {
    width: 1200px;
    display: flex;
  }
  
  #weekdays div {
    width: 160px;
    padding: 10px;
    margin-right: 10px;
    color: #455A64;
    text-align: center;
    font-size: 1.5rem;
  }
  #calendar {
    width: 1200px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
  }
  #monthDisplay{
    display: block;
  }
  .day {
    width: 160px;
    padding: 10px;
    height: 160px;
    border-radius: .5rem;
    cursor: pointer;
    box-sizing: border-box;
    background-color: white;
    margin: 5px;
    box-shadow: 0px 0px 3px #cbd4c2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .day:empty, .day:hover {
    background-color: #e8faed;
  }
  
  .day + #currentDay {
    background-color: #e8f4fa;
  }
  
  .event {
    font-size: 10px;
    padding: 3px;
    background-color: #455A64;
    color: white;
    border-radius: 5px;
    max-height: 55px;
    overflow: hidden;
  }
  .padding {
    cursor: default !important;
    background-color: inherit !important;
    box-shadow: none !important;
  }
  #newEventModal,
  #deleteEventModal {
    display: none;
    z-index: 20;
    padding: 25px;
    background-color: #e8f4fa;
    box-shadow: 0px 0px 3px black;
    border-radius: 5px;
    width: 350px;
    top: 100px;
    left: calc(50% - 175px);
    position: absolute;
    font-family: inherit;
  }
  #eventTitleInput {
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 25px;
    border-radius: 3px;
    outline: none;
    border: none;
    box-shadow: 0px 0px 3px gray;
  }
  #eventTitleInput.error {
    border: 2px solid red;
  }
  #cancelButton,
  #deleteButton {
    background-color: #d36c6c;
  }
  #saveButton,
  #closeButton {
    background-color: #92a1d1;
  }
  #eventText {
    font-size: 14px;
  }
  #modalBackDrop {
    display: none;
    top: 0px;
    left: 0px;
    z-index: 10;
    width: 100vw;
    height: 100vh;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
  }
  