.header{
    background-image: linear-gradient(
        to right bottom,rgba($color-primary-light, 0.7), rgba($color-primary-dark, 0.7)),  
        url('../../img/hero.jpeg'); 
    background-size: cover;
    background-position: top; 
    height: 100vh;
    position: relative;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 95%, 0 75vh);
    clip-path: polygon(0 0, 100% 0, 100% 95%, 0 75vh);

    @include responsive(phone){
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 90%, 0 84vh);
        clip-path: polygon(0 0, 100% 0, 100% 90%, 0 84vh);
    }


    &__navigation-bar{
        opacity: 0.86;
        background-color: rgba($color-white, .4);
        color: $color-grey-light-1;
        text-shadow: -0.09rem 0.1rem rgba($color-black, $alpha: 0.5);
        display: flex;
        font-size: 1.6rem;
        justify-content: flex-end;
        list-style: none;
        padding: 1rem;
        text-transform: uppercase;

        @include responsive(tab-port){
            display: none!important;
        }

        & li{
            text-align: left;
            transition: all 0.6s ease-in-out;
            padding: 1.3rem 2rem;
        }

        & li:not(:last-child){
            margin-right: 1rem;
            border-right: 1px solid $color-grey-light-1;
            

        }

        & li:hover:not(:last-child){
            display: inline-block;
            transform: scale(1.01);
            border-bottom: #FFF;
            position: relative;
            box-shadow: 0 .5rem 1rem rgba($color-black, .6);
        }

        &__social-bar{
            display: flex;
            justify-content: space-between;
    
            :last-child{
                
               border: none; 
            }

            a{
                &:not(:last-child){
                    margin-right: 5rem;
                }
                text-decoration: none;
                color: white;
            }
    
            &-icon{
                font-size: 2.6rem;
                transition: transform .7s ease-in-out;
    
                &:hover{
                    transform: translateY(-0.3rem) scale(1.3);
                }
            }
    
        }
    
    }
    
    &__logo-box{
        position: absolute;
        top: 4.75rem;
        left: 4.75rem;
    }

    &__social-bar{
        display: flex;
        justify-content: space-between;

        a{
            &:not(:last-child){
                margin-right: 5rem;
            }
            text-decoration: none;
            color: white;
        }

        &-icon{
            font-size: 2.6rem;
            transition: transform .7s ease-in-out;

            &:hover{
                transform: translateY(-1rem) scale(1.3);
            }
        }

    }

    &__logo{
        color: $color-white;
        width: 8rem;
        height: 7.5rem;
    }

    &__text-box{
        position: absolute;
        text-shadow: -0.09rem 0.1rem rgba($color-black, $alpha: 0.5);
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        @include responsive(phone){
            top: 40%;
        }
    }
}